.window{
  width: 100%;
  height:calc(var(--vh, 1vh) * 100);
  position: relative;

}
.App {
  width:100%;
  height:100%;
  
  position: relative;
  overflow: hidden;
  
}


.App.reduceopacity{
  opacity: 0.4;
  pointer-events: none;
}

.App #app-header{
  width: 100%;
  height: 5%;
}

.App nav{
  width:100%;
  height:100%;
  display:flex;
  justify-content: space-between;
  padding:10px;
  align-items: center;
  position: relative;
  top: 0;
  left:0;
  z-index: 2;
  background-color: rgb(224, 225, 226);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 
}

.App nav span{
  width:30%;
  padding:10px;
  display:flex;
  color:rgb(5, 5, 5)
}

.App nav span.logo{
  justify-content: start!important;
  font-size: 20px;
  font-weight: 300;
 
 
}

.App nav span.logo a{
  text-decoration: none;
  background-color: rgb(5, 53, 33);
  color:white;
  border-radius: 5px;
  padding: 5px 10px;
}
/* .App nav span.logo img{
  
  height:50px;
  width: 70px;
  border-radius: 50%;
 

} */

.App nav span.search{
  justify-content: center;
  background-color: rgb(156, 157, 158);
  color:rgb(88, 83, 83);
  border-radius: 10px;
  font-size: 20px;
  padding:0px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;




}
.App nav span.search form{
  width:100%;
  height:auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App nav span.search input{
  width: 95%;
  border: none;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  color:rgb(88, 83, 83);
  font-size: 15px;
  cursor: default;
  background:none;
}
.App nav span.search button{
  background: none;
  border:none;
  

}
.App nav span.search button i{
  color:rgb(88, 83, 83);
  font-size: 20px;

}

.App nav span.search input::placeholder{
  color: rgb(88, 83, 83);
  font-size: 15px;
}
.App nav span.search input:hover{
  color:black;
  background:none;
}


.App nav span.menu i{
  font-size: 25px;
  margin:0px 20px;
  color:rgb(24, 116, 28);
}
.App nav span.menu i#pointer{
  margin: 0;
}
.App nav span.menu{
  justify-content: flex-end;
}

.App nav span.menu img{
  height:30px;
  width: 30px;
  border-radius: 50%;
  margin: 0;
  border:1px solid rgb(24, 116, 28);


}

/* ---------------------------------------------dropdown----------------------------------- */

.App nav span.menu .dropdown{
  position: absolute;
  width: 300px;
  top: 100%;
  
  
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(24, 116, 28);
  



} 
.App nav span.menu .dropdown span.profilebutton button{
  color:black;
  background: none;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 15px;
  word-spacing: 10px;
  padding:5px 10px;
}

.App nav span.menu .dropdown span{
  font-size: 20px;
  color: black;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  

}
.App nav span.menu .dropdown span a{
  text-decoration: none;
  color:black;
  font-size: 20px;
}
.App nav span.menu .dropdown span:hover{
  color:rgb(5, 53, 33);
  background-color: rgb(167, 168, 168);
}
.App nav span.menu .dropdown span:hover a{
  color:rgb(5, 53, 33);
  
}
.App nav span.menu .dropdown.none.flex{
  display: flex;
}
.App nav span.menu .dropdown.none{
  display: none;
}










.App .content{
  width: 100%;
  height:95%;
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: row;

}

/* --------------------------------------------popup window------------------------------------------ */

.window .popup-profile-window{
  position:absolute;
  width:30%;
  height:auto;
  top:20%;
  left:35%;

  z-index: 10;
  box-shadow: rgba(10, 10, 10, 0.801) 0px 5px 15px;;

}
.popup-profile-window.hide{
  display: none;
}



.window .popup-event-window{
  position:absolute;
  width:30%;
  height:auto;
  top:20%;
  left:35%;

  z-index: 10;
  box-shadow: rgba(10, 10, 10, 0.801) 0px 5px 15px;;

}
.popup-event-window.hide{
  display: none;
}





.window .popup-logout-window{
  position:absolute;
  width:30%;
  height:auto;
  top:20%;
  border-radius: 10px;
  left:35%;

  z-index: 10;
  box-shadow: rgba(10, 10, 10, 0.801) 0px 5px 15px;
  background-color: white;

}
.popup-logout-window.hide{
  display: none;
}

.window .popup-logout-window .log-warning{
  display:flex;
  flex-direction: column;
}
.window .popup-logout-window .log-warning span{
  width:100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  margin:10px 0px;


  
}
.window .popup-logout-window .log-warning span button{
  border :none;
  padding:10px;
  background-color:rgb(17, 150, 61); 
  color:white;
  font-size: 15px;
  border-radius: 5px;
  transition: 0.3s;
}
.window .popup-logout-window .log-warning span button:hover{
  background-color: rgb(41, 146, 102);
  transform: scale(1.1);
}



/* --------------------------------------------sidebar------------------------------------- */

.sidebar {
  width: 200px;
  padding: 10px;
  height: 100%;
  background-color: rgb(77, 155, 123);
  display: flex;
  flex-direction: column;

  font-family: Roboto, arial, sans-serif;
  font-weight: 200;

  position: relative;
  z-index:35;
 
  
  /* will be removed during development */
  
  transition: 0.2s;
  position: relative;
  
  z-index: 10;
  overflow: hidden;
}






.sidebar .icons {
  width: 100%;
  display: flex;
  height: auto;
  flex-direction: column;
  list-style-type: none;
  

}

.sidebar .icons li {
  display: flex;
  align-items: center;
  flex-direction: row;
  
  justify-content: flex-start;
  flex-wrap:nowrap;

  color: aliceblue;
  padding: 10px 0;

  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  




}
.sidebar .icons li a{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
}

.sidebar .icons li:hover {
  background-color: rgb(8, 92, 36);
}

.sidebar .icons li:hover i{
  color: white;
}

.sidebar .icons li i,
p {
  margin: 0px 15px;
}

.sidebar .icons li i {
  color: rgb(5, 53, 33);
  font-size: 25px;
}


.side-a.col {
  display: none;
}
.sidebar .icons li a p{
 
  color:rgb(5, 53, 33);
  margin: 0px 15px;


}
.sidebar .icons li:hover a p{
  color:white
}
.sidebar .icons li a{
  text-decoration: none;
  font-weight: 400;

}
.side-span.icon-center{
  justify-content: flex-start;
}


.sidebar.reduce {
  width: auto;
}

.span-center{
  justify-content: center;
  
}






.sidebar .icons2 {
  width: 100%;
  display: flex;
  list-style-type: none;
  flex: 1;
  flex-direction: column;
  

}

.sidebar .icons2 li {
  display: flex;
  align-items: center;
  flex-direction: row;
  
  justify-content: flex-start;
  flex-wrap:nowrap;
  font-size: 20px;
  color: aliceblue;
  padding: 10px 0;

  font-size: 15px;
  border-radius: 5px;
  




}
.sidebar .icons2 li a{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight: 400;
}

.sidebar .icons2 li:hover {
  background-color: rgb(8, 92, 36);
}

.sidebar .icons2 li:hover i {
  color: white;
}
.sidebar .icons2 li:hover a p{
  color: white;
}

.sidebar .icons2 li i,
p {
  margin: 0px 15px;
}

.sidebar .icons2 li i {
  color: rgb(120, 36, 189);
  font-size: 25px;
}


.side-a.col {
  display: none;
}
.sidebar .icons2 li a p{
 
  color:rgb(5, 53, 33);
  margin: 0px 15px;


}
.sidebar .icons2 li img{
  width:30px;
  height:30px;
  border-radius: 50%;
}
.sidebar .icons2 li a{
  text-decoration: none;

}
.sidebar .divider{
  color:rgb(5, 53, 33);
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}














.sidebar .buttons {
  display: flex;
  flex-direction: column;
  list-style-type: none;

}

.sidebar .buttons li {
  display: flex;
  flex-direction: row;
  padding: 10px 0rem;
  align-items: center;
  align-content: center;

}

.sidebar .buttons li i,
img {
  margin: 0px 15px;
}

.sidebar .buttons li i {
  color: rgb(5, 53, 33);
  font-size: 25px;
}

.sidebar .buttons li img {
  height: 30px;
  width: 50%;
  transition:0.5s;
}

.sidebar .buttons li i:hover {
  color: white;
  transform: scale(1.2);
}


/* -----------------------route------------------------------ */

.App .content .route{
  width:auto;
  flex: 1;
  height:100%;
  position: relative;
  z-index: 12;
}
/* .route.route-expand{
  width:90%;
} */



/*--------------------------------------------- media query ---------------------------------------------*/

@media (max-width:800px) {
  

  .App .content{
    width: 100%;
    flex-direction: column-reverse;
    height: 95%;
    position: relative;
  }
  .App nav span{
    width: 25%;
    padding: 10px 0px;
  }
  .App nav span.search{
    width: 40%;
    border-radius: 5px;
  }
  .App nav span.logo{
    padding:0px;
    font-size: 10px;
    font-weight: 300;
  
  }
  
   /* img{
    width:40px;
    height:25px;
    display: flex;
    justify-content: flex-start;
    .App nav span.logo
  } */
  .App nav span.search input{
   
    padding: 5px;
    border-radius: 5px;
    
  
    font-size: 10px;

  }
 
  .App nav span.search button i{
    color:rgb(88, 83, 83);
    font-size: 10px;
  
  }
  .App nav span.search input::placeholder{

    font-size: 10px;
  }
  .App nav span.menu img{
    height:15px;
    width: 15px;
    border-radius: 50%;
    margin: 0;
  
  }
  .App nav span.menu i{
    font-size: 15px;
  }
  
  .sidebar{
    width:100%;
    opacity:1;
    height: auto;
    flex-direction: row;
    
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    

  }
  .sidebar .icons li{
    padding: 0px;
  }
  .sidebar.reduce{
    width:100%;
  }
  .App .content .route{
    width:100%;
    height:100%;
    
    margin: 0px auto;
    padding-bottom: 30px;
  }
  .App .route.route-expand{
    width:80%;
    transition: 0.4s;
  }
  @keyframes colapse{
    0%{
              width:20%;
    }
    100%{
              width:10%;
    }
  
  }
  

  .sidebar .buttons li i{
    font-size: 15px;
    margin:0px 3px;
  }
  

  .sidebar .divider{
    display: none;



  }
  .sidebar .icons2{
    display:none;

  }

  .sidebar .icons li i{
    font-size: 25px;
  }
  .sidebar .icons li{
    font-size: 10px;
  }
  
 

  .App nav span.menu .dropdown{
    width:150px;
  }
  .App nav span.menu .dropdown span.profilebutton button{
    font-size: 10px;
    border: 1px solid black;
  }
  .App nav span.menu .dropdown span{
    font-size: 15px;
    padding: 5px;
  }
  .App nav span.menu .dropdown span a{
    font-size: 15px;
  }
  
  
  .window .popup-logout-window .log-warning span{
   
    font-size: 15px;
  
  
    
  }
  .window .popup-logout-window .log-warning span button{
     padding:5px;
   
   
    font-size: 10px;
   
    
  }

  .window .popup-logout-window{
    width:60%;
    left:20%;
  }
  .window .popup-profile-window{
   
    width:80%;
   
    left:10%;
    top:5%;
  
  
  
  }
  
  
  
  
  .window .popup-event-window{
    position:absolute;
    width:80%;
  
    left:10%;
    top:5%;
  
  
  }
  .popup-event-window.hide{
    display: none;
  }
  


 .sidebar .icons2 li i{
    font-size: 15px;
    margin:0px 3px;
  }
  .sidebar .icons2 li{
    font-size: 10px;
    padding: 5px;
  }
  
  .sidebar .icons2 li a p{
    margin:0px 3px;
  }
  





  .sidebar .icons2 li img{
    width:15px;
    height:15px;
    border-radius: 50%;
  }
  .sidebar .icons2{
    height: 75%;
  }
  .sidebar .icons{
    height: auto;
    flex-direction: row;
    justify-content: space-evenly;

  }
  .sidebar-hr{
    display: none;
  }
  .sidebar .buttons {
    display: none;
  }

  .sidebar .icons li:hover {
    background:none!important;
  }
  
  .sidebar .icons li:hover i{
    color: black;
  }
  
  
  
  
  
  
  
}