.forget-password {
          width: 100%;
          height: calc(var(--vh, 1vh) * 100);

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
          background-image: url('./background-hh.jpg');
          background-position: center center;
          background-size: cover;
}

.forget-password .form {
          width: 50%;
          padding: 10px;
          background-color: rgb(194, 186, 186);
          opacity: 1;
          display: flex;
          flex-direction: column;
          border-radius: 5px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          position: relative;



}

.forget-password .form p {
          color: grey;
          font-size: 15px;
          margin: 20px;

}

.forget-password .form input {
          width: 60%;
          outline: none;
          border: none;
          background-color: rgb(122, 121, 121);
          border-bottom: 2px solid white;
          padding: 10px;
          color: rgb(53, 52, 52);
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
          margin: 10px auto;

}

.forget-password .form input:hover {
          background-color: rgb(161, 159, 159);
          color: rgb(7, 7, 7);

}
.forget-password .form input::placeholder {
          color: rgb(85, 81, 81);
         
}

.forget-password .form button {
          padding: 10px;
          font-size: 15px;
          background-color: rgb(19, 90, 43);
          border: none;
          border-radius: 5px;
          color: rgb(201, 200, 200);

          margin: 0px auto;
          transition: 0.3s;
          width: fit-content;

}

.forget-password .form button:hover {

          background-color: rgb(41, 146, 102);
          color: white;

}

.forget-password .form i {
          font-size: 30px;
          margin: 20px auto;
          color: rgb(19, 90, 43);

}

.forget-password .form p a {
          text-decoration: none;
          color: rgb(19, 90, 43);
          font-size: 15px;
          margin: 0px 10px;
          transition: 0.3s;
}

.forget-password .form p a:hover {
          background-color: rgb(41, 146, 102);
}

#warning-submit {
          position: absolute;
          left: 0;
          bottom: 100%;
          border-radius: 5px;
          background-color: rgb(175, 173, 173);
          display: flex;
          justify-content: space-between;
          padding: 10px;

}

#warning-submit p {
          color: black;
          font-size: 15px;

}

#warning-submit i {
          color: black;
          font-size: 20px;

}

#warning-submit.none {
          display: none!important;
}

@media (max-width:700px) {
          .forget-password {
                    background-image: url('./background\(1\)-hh-responsive.jpg');
          }


          .forget-password .form {
                    width: 90%;




          }

          .forget-password .form input {
                    width: 80%;
          }
}