.signup{
          width: 100%;
          height:calc(var(--vh, 1vh) * 100);
          
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: relative;
          background-image: url('./background-hh.jpg');
          background-position: center center;
          background-size: cover;
}

.signup img{
          width: 120px;
          height: 120px;
          
          position: absolute;
          top:10px;
          left:45%;

}
.signup h1.page-title{
          font-size: 30px;
          color:rgb(36, 35, 35);
          font-weight: 500;
          margin: 10px 0px;
}



.signup .form {
          width: 50%;
          padding: 10px;
          background-color: rgb(194, 186, 186);
          opacity: 1;
          display: flex;
          flex-direction: column;
          border-radius: 5px;
          position: relative;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}

.signup .form span {
          width: 100%;
          margin: 10px 0px;
          display: flex;
          justify-content: space-between;
          font-size: 20px;
          color: rgb(0, 0, 0);
          padding: 10px;


}

.signup .form span input {
          width: 60%;
          outline: none;
          border: none;
          background-color: rgb(122, 121, 121);
          border-bottom: 2px solid white;
          padding: 10px;
          color: rgb(53, 52, 52);
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
          opacity: 0.6;
}

.signup .form span input:hover {
          background-color: rgb(161, 159, 159);
          color: rgb(7, 7, 7);


}

.signup .form span input::placeholder {
          color: rgb(85, 81, 81);

}

.signup .form span.button {
          width: 100%;
          justify-content: center;

}

.signup .form span.button button {
          padding: 10px;
          font-size: 15px;
          border: none;
          background-color: rgb(19, 90, 43);
          border-radius: 5px;
          color: rgb(201, 200, 200);
          transition: 0.4s;
}

.signup .form span.button button:hover {
          background-color: rgb(28, 126, 44);
          color: white;
          transform: scale(1.1);

}

.signup .form span a {
          text-decoration: none;
          color: rgb(41, 146, 102);
}

.signup .form span.button {
          justify-content: center;
          font-size: 10px;

}
.signup .form span.message{
          font-size: 15px;
          color: grey;

}
.popup-warning-signup-window{
          position:absolute;
          width:100%;
          height:auto;
          bottom:100%;
          left:0%;
          background-color: white;
        
          z-index: 15;
          box-shadow: rgba(10, 10, 10, 0.801) 0px 5px 15px;
          border-radius: 5px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px;
        
        }
.popup-warning-signup-window.hide{
          display: none;
        }


@media (max-width:800px) {
  .signup{
    background-image: url('./background\(1\)-hh-responsive.jpg');
  }
          .signup .form {
                    width:90%;

          }
          .signup img{
                    width: 40px;
                    height: 40px;
                    
          
          }
          .signup h1.page-title{
                    font-size: 15px;
                    color:rgb(36, 35, 35);
                    font-weight: 500;
                    margin: 5px 0px;
          }
          .signup .form span {
                    width: 100%;
                    margin:5px 0px;
                    display: flex;
                    justify-content: space-between;
                    font-size: 15px;
                    color: rgb(0, 0, 0);
                    padding: 5px;
          
          
          }
          .signup .form span.button button {
                    font-size: 10px;
          }
          .signup .form span.message{
                    font-size: 10px;
          }
}

